<% provide(:title, 'Contact') %>
    <h1 class='page-title'>Contact</h1>
    <p>
        Contact Ruby on Rails Tutorial about the sample app at the
        <a href="http://railstutorial.org/contact">contactPate</a>
    </p>
    <p><%= link_to 'Home', static_pages_home_path %></p>
    <p><%= link_to 'Help', static_pages_help_path %></p>
    <p><%= link_to 'About', static_pages_about_path %></p>
    <dl>
        <dt>Digital Cameras</dt>
        <dd>Nikon D70</dd>
        <dt>Film Cameras</dt>
        <dd>Nikon N70</dd>
    </dl>
    <section class='main'>Digital cameras are becomming the norm
                          and film cameras are becomming less common
    </section>
