<% provide(:title, 'Home') %>
    <h1>Sample App</h1>
    <p>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
    <p><%= link_to 'about', static_pages_about_path %></p>
    <p><%= link_to 'help', static_pages_help_path %></p>
    <p><%= link_to 'contact', static_pages_contact_path %></p>
